<!DOCTYPE html>
<html>
  <head>
    <!--This is my first comment.-->
    <title> Mysite Myapp home </title>
  </head>
  <body>
    <div id="head">
        <a href="/myapp/"><h1>Welcome to myapp!</h1></a>
    </div>
    <div id="body">
        <p>This is a site in myapp. If you want to watch about Questions,</p>
        <p>You have to press this link.</p><a href="/myapp/questions/">Link</a><br><br>
        <p>If you want to watch about Answer,</p>
        <p>들어가지마 그냥. 여기는.</p><br><br>
    </div>
  </body>
</html>
